* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

.container2 {
  width: 100%;
  /* margin:auto; */
  padding-left: 20px;
  padding-right: 20px;
  background-color:aliceblue;
  overflow-y: auto;

}

nav {
  width: 100%;
  position: sticky;
  top: 0px;
  height: 12%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}

.logo-img {
  width: 15%;

}

.logo-img img {
  width: 100%;
}

button {
  background-color: white;
  color: black;
  border: none;

}

button:hover {
  background-color: rgb(238, 48, 51);
  color: white;
  border: none;

  border-radius: 3px;

}

#menu-option {

  width: 40%;
  display: flex;
  justify-content: space-around;

}

#menu-option button,
.login-signup button {
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.0rem;
}

.login-signup {
  width: 15%;
  display: flex;
  justify-content: space-around;

}

#signupbtn {

  border: 1px solid black;
  background-color: white;
  color: black
}

#signupbtn:hover {
  background-color: greenyellow;
  color: white;
}
#hamburger {
  color: black;
  
}

.landing-part {
  display: flex;
  height: 350px;
  justify-content: space-between;
  margin-top: 50px;

}

.info1 {

  width: 45%;
  padding-left: 10%;
  padding-top: 5%;



}

.info12 {

  width: 45%;
  padding-left: 10%;



}

.info12 img {
  width: 90%;
}

.info1>p {
  margin-top: 5px;
}

.info1>p+button {
  background-color: rgb(238, 48, 51);
  padding: 3% 20%;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.info2 {
  width: 50%;
  


}

.company-logo {
  height: 200px;
  display: flex;
  margin-top: 10%;
  justify-content: space-around;
  gap: 10px;
}

.company-logo>div img {

  width: 100%;
  align-self: auto;
}

.stopwach-container {
  border: 1px solid red;
  background-color: yellow;
  height: 500px;
}

.mid-part {
  display: flex;
  gap: 5%;
  margin-top: 10px;

}

.left-side {
  width: 50%;
  padding-top: 5%;
  padding-left: 10%;
}

.left-side>h1,
p {
  margin-bottom: 3%;
}

.left-part-child {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}

.left-part-child>div {
  background-color: white;
  padding: 10%;

}

.left-part-child>div>h3 {
  margin-bottom: 5%;
}

.right-side {
  width: 30%;
}

.right-side img {
  width: 100%;
}

iframe {
  border-radius: 5px;
}

#blog-card {
  width: 350px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 50px;
  background-color: white;

}

#upper-part-blog {
  display: flex;
  gap: 20px;
}

#bloger-img {
  width: 30%;

}

#upper-part-blog > div img {
  width: 100%;
  border-radius: 50%;

}

#blog-content {
  margin-top: 20px;
}

#frame1 {
  display: flex;
  flex-direction: row;
  gap: 3%;
  background-color: aliceblue;
}

.swiper {
  margin-top: 30px;

}

.swiper-slide {
  /* text-align: center; */
  font-size: 18px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  margin-top: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: gray;
  padding: 10px;
  color: white;
}

#stopwatch-container {
  /* width: 100%; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: aliceblue;
}

#stopwatch-container h1 {
  color: rgb(238, 48, 51);
  text-align: center;
  font-size: 250%;
  margin-bottom: 50px;
}
#time  {
  width: 80%;
   margin: auto;
   text-align: center;
  
  
}
.digit {
font-size: 130px;
color: black;
  

}

.txt {
  font-size: 40px;
  color: gray;
}

#buttons {
  width:60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
   margin-top: 50px;
}

.btn {
  width: 100px;
  padding: 10px 15px;
  margin: 0px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
}

#start {
  background-color: #009779;
}

#stop {
  background-color: #0e85fc;
}

#reset {
  background-color: rgb(238, 48, 51);
}

#hamburger {
  display: none;
}
/* #imported-footer {
  width: 100%;
   background-color: yellow;
   border: 1px solid red;
} */
 



@media only screen and (max-width: 1200px) {}


@media screen and (max-width: 768px) {
  .logo-img {
    width: 40%;
  }
 
  
  /* .topnav {
    display: block;
  } */
  .digit {
    font-size: 120%;
    color: black
  }
  
  .txt {
    font-size:90%;
    color: gray;
  }

  nav {
   
    position: sticky;
    top:0px;
    height: 12%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  
  }
  #hamburger {
    display: block;
    margin-right: 10%;
  }
  .login-signup {
    margin-right: 10%;
  }
   .landing-part {
    flex-direction: column;
    margin: auto;
    margin-bottom: 200px;
  }
  .info2 {
    margin-bottom: 50%;
    /* margin-bottom: 500px; */
  }
  /* .company-logo {
    margin-bottom: 200px;
  } */
  #menu-option {
    display: none;
  }
  .info12 {
    width: 100%;
    margin-bottom: 100px;
  }
  .info12 img {
    width: 90%;
  }
  .company-logo {
    display: none;
  }
  #stopwatch-container {
    width: 30%;
    margin: auto;
    margin-top: 200px;
   
  }
  .digit {
    font-size: 60px;
    color: black;
      
    
    }
    
    .txt {
      font-size: 20px;
      color: gray;
    }
    .mid-part .left-side {
      margin-top: 200px;
    }
    
    .landing-part>div img {
      margin-top: 100px;


    }
    .mid-part {
      margin-top: 70%;
      display: flex;
     
    }
    .right-side img {
      display: none;
    }
  
}

/* @media screen and (max-width: 450px) {} */